:root{
    --bg_boton: #888888;
    --bg_tostada: #347572;
}
.top-bottom,.bottom-top,.centerV{
    position:relative;
    transition:.5s ease-in-out;
}
.top-bottom::after,.bottom-top::after{
    content:"";
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:1%;
    transition:.15s ease-in-out;
}.bottom-top::after{
    top: inherit;
    bottom:0;
}

.top-bottom:hover::after,
.bottom-top:hover::after{
    height:100%;
    background: var(--bg_boton);
    z-index: -1;
}

.centerV::after,.centerV::before{
    content:"";
    left:0;
    top:0;
    position:absolute;
    width:0%;
    height: 100%;
    transition:.25s ease-in-out;
}.centerV::before{
    left: inherit;
    right: 0;
}

.centerV:hover::after,
.centerV:hover::before{
    width: 50%;
    background:var(--bg_boton);
    color:white;
    z-index: -1;
}

.top-bottom:hover,.bottom-top:hover,.centerV:hover{
    z-index: 10;
    color: white;
    font-weight: bold;
    transition: .15s ease-in-out;
}

.bg_red{
    background: rgb(245, 72, 72);
    color: white;
}
.bg_red::after, .bg_red::before{
    background: rgb(155, 25, 25) !important;
}

.superTostada{
    left: auto;
    right: auto;
    top: 50px;
    display: none;
    position: fixed;
    background: var(--bg_tostada);
    color: white;
    padding: 25px;
    border-radius: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}

.superTostada.show {
    display: flex;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
    animation: fadein .5s, /*grow 1s ease-in-out infinite,*/ fadeout 0.5s 4s;
}
  
@keyframes fadein{
    from {top: 0px; opacity: 0;}
    to {top: 50px; opacity: 1;}
}
  
@keyframes fadeout{
    from {top: 50px; opacity: 1;}
    to {top: 200px; opacity: 0;}
}
@keyframes grow{
    0%{transform: scale(1);}
    50%{transform: scale(.95)}
    100%{transform: scale(1);}
}
.a_grow{
    animation: grow .3s ease-in-out infinite;
}
@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}
.a_shake{
    animation: shake .3s ease-in-out infinite;
}

@keyframes fuego{
    0%{text-shadow: 10px 10px 50px #FFF;}
    25%{text-shadow: 10px 10px 100px rgb(88, 150, 158);}
    50%{text-shadow: 10px 10px 50px #347572;}
    75%{text-shadow: 10px 10px 100px rgb(0, 195, 255);;}
    100%{text-shadow: 10px 10px 50px #ffffff;}
}
.a_fuego{
    animation: fuego 3s ease-in-out infinite;
}