/* User Card*/
.container{
    width: 95%;
    display:grid;
    grid-gap: 5px;
    grid-template-columns: auto;
}
.usrCard{
   width: 100%;
   background: rgb(231, 231, 231);
   color:#272727;
   display: grid;
   grid-template-columns: 50px auto 50px;
   grid-auto-rows: 50px;
   border-radius: 5px;
}
.container .descripcion{
    width: 100%;
    color:#272727;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-auto-rows: 50px;
    border-radius: 5px;
    place-items: center center;
}
.usrCard >*{
    display: grid;
    width: 100%;
    height: 100%;
}
.usrCard .image{
    background: #c4c4c4;
    place-items: center center;
}
.usrCard .info{
    padding-left: 10px;
    place-items: center start;
}
.usrCard .btn{
    background: #414141;
    color: white;
    place-items: center center;
}
/* End User Card*/

/* User Menu */
.usrMenu{
    position: fixed;
    top:0;
    right: 10px;
    z-index: 100;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-auto-rows: 65px;
    place-items: center center;
    grid-gap: 5px;
}
.usrMenu >*{
    display: grid;
    place-items: center center;
    font-size: 12px;
}
.usrMenu .image{
    display: grid;
    place-items: center center;
    background: #c4c4c4;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}



