.marco{
    max-width: 500px;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
}

.imagen img{
    width: 50px;
    height: 50px;
    margin-bottom: -3.6px;
    overflow: hidden;
}

.imagenGrande img{
    min-width: 100px;
    width: 100%;
    max-width: 400px;
    height: 250px;
    display: flex;
    margin: auto;
}
.imagenes{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imagen img:hover{
    opacity: .8;
}