header{
    flex-grow: 1;
    background: #f8f8f8;
}
header>.item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.logo{
    cursor: pointer !important;
}



#btn_menu{
    padding: 0 15px;
    cursor: pointer;
}