.menu{
    font-size: 25px;
    position: fixed;
    top: 0;
    right: 0%;
    width: 50%;
    height: 100vh;
    background: #141414;
    color: white;
    transition: .35s ease-out;
    z-index: 10;
}

.menu, .menu ul{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.menu ul{
    padding: 25px;
    /*outline: solid 1px blue;*/
}
.menu > ul .item{
    padding: 25px;
    /*outline: solid 1px red;*/
}
.menu ul .item:hover{
    background: white;
    color: black;
    cursor: pointer;
}

.show{
    right: 0;
}

.hide{
    right: -100%;
}

#menubtn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px;
    padding: 5px;
    cursor: pointer;
    z-index: 100 !important;
    min-width: 80px;
    text-align: center;
}
