/*FLEXBOX*/
/* Desliega los elementos en columna*/
.col{display: flex; flex-direction: column;}
/* Despliega los elementos en renglon*/
.row{display: flex; flex-direction: row;}

/* X: variable; Y: en el inicio;*/
.col.ss{justify-content: flex-start;align-items: flex-start;}
.col.sc{justify-content: flex-start;align-items: center;}
.col.se{justify-content: flex-start;align-items: flex-end;}

/* X: variable; Y: en el centro;*/
.col.cs{justify-content: center;align-items: flex-start;}
.col.cc{justify-content: center;align-items: center;}
.col.ce{justify-content: center;align-items: flex-end;}

/* X: variable; Y: en el fin;*/
.col.es{justify-content: flex-end;align-items: flex-start;}
.col.ec{justify-content: flex-end;align-items: center;}
.col.ee{justify-content: flex-end;align-items: flex-end;}

/* X: estatica; Y: variable;*/
.row.up{align-items: flex-start;}
.row.middle{align-items: center;}
.row.down{align-items: flex-end;}

/* ajusta los elementos respecto al espacio que tienen alrededor*/
.row.sa{align-items: flex-start; justify-content: space-around;}
/* Ajusta los elementos al centro */
.row.sc{align-items: flex-start; justify-content: center;}
/* Ajusta los elementos al centro */
.row.cc{align-items: center; justify-content: center;}
/* ajusta los elementos respecto al espacio que hay entre ellos*/
.row.sb{align-items: flex-end; justify-content: space-between;}

/* la propiedad wrap nos permite que un contenedor se desplace hacia abajo
   si es que este se queda sin espacio*/
.wp{flex-wrap: wrap;}
.nwp{flex-wrap: nowrap;}

/*Hace que los elementos dentro de la etiqueta tengan la misma proporcion*/
.fg{flex-grow: 1}

/* parte la palabra si el contenedor donde esta se queda sin espacio*/
.wordbk{word-break: break-all;}

@media (max-width: 720px) {
	.fixFlow{
		flex-direction: column !important;
	}
	.fixFlowC{
		flex-direction: column !important;
		align-items: center;
	}
    hr{
        width: 85%;
        height: 2px;
	}
	.menu{
		width: 100%;
	}
	.marco{
		width: 100% !important;
	}
	.publicacion p{
		width: 100%;
	}
}

/*Otros*/
.fs25{font-size: 25px;}
.mt25{margin-top: 25px;}
.mw500{width: 100%;max-width: 500px;}
